{% extends 'restaurant/headers.html' %}
{%load staticfiles}

{%block body%}


    <nav class="navbar fixed-top navbar-light border navbar-custom border-dark border-top-0 border-left-0 border-right-0" >
        
          
            
                <span class="navbar-toggler-icon" style="cursor:pointer" onclick="openNav()"></span>
              
            
          
        <a class="navbar-brand" href="#">
          <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          SWIFTDELIVERY
        </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fas fa-shopping-cart" style="color:#003366"></i>
            </button>
          </form>
      </nav>
      
    
  
  <div class="main" style="width:100%; padding-top: 55px;">
      <div class="sidenav  border-right border-dark" id="mySidenav" style="border:1px">
          <div>
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="padding-top:45px">&times;</a>
              <a href="#" style="font-size: 20px; font-weight: 500;
              line-height: 16px;
              letter-spacing: 0ch;
              text-transform: none;
              color: rgb(25, 25, 25);font-variant-ligatures: no-common-ligatures;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;overflow: hidden;    height: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: color 0.2s ease 0s;
    padding: 24px">
                  <i class="fas fa-home"> Home</i>
              </a>
          </div>
        </div>
      <div class="content">
        <div class="container-fluid">
          
          {%block content%} {%endblock%}
        </div>
      </div>
    </div>

    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
  {%endblock%}