{% extends 'restaurant/headers.html' %}
{%load staticfiles}

{%block body%}
<div class="container-fluid">

    <nav class="navbar navbar-light bg-light">
        <div class="pos-f-t">
          
            <nav class="navbar navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>
        <a class="navbar-brand" href="#">
          <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          SWIFTDELIVERY
        </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fas fa-shopping-cart"></i>
            </button>
          </form>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
          </div>
        </div>
    
  </div>
  <div class="main">

      <div class="content">
        <div class="container-fluid">
          {%block content%} {%endblock%}
        </div>
      </div>
    </div>


  {%endblock%}